{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
             <!-- Flash Messages -->
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              <div class="alert-container">
                  {% for category, message in messages %}
                      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endfor %}
              </div>
          {% endif %}
      {% endwith %}
      
            <form method="POST">
                <div class="form-group">
                    <input placeholder="Логін" type="text" class="form-control" name="username" id="username" required>
                </div>
                <div class="form-group">
                    <input placeholder="Пароль" type="password" class="form-control" name="password" id="password" required>
                </div>
                <button type="submit" class="btn-console btn-block">Вхід</button>
            </form>
        </div>
    </div>
{% endblock %}
